.button{
    -fx-background-color: #efae37;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-insets: 2;
}

.button:hover{
    -fx-background-color: #bf8b2c;
}

.button:pressed{
    -fx-background-color: #171105;
}
