/*#67595E dark
#A49393 darkish
  #EED6D3 dusty
  #E8B4B8 rosewater
  */

.anchor-pane{
    -fx-background-color: #67595E;
    -fx-background-radius: 20;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-insets: 2;
}

.vertical-box{
    -fx-background-color: #A49393;
    -fx-background-radius: 20;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-insets: 2;
}

.button{
    -fx-background-color: #E8B4B8;
    -fx-background-radius: 20;
    -fx-border-color: #EED6D3;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-insets: 2;
}

.button:hover{
    -fx-background-color: #bf8b2c;
}

.button:pressed{
    -fx-background-color: #171105;
}

.check-box:hover{
    -fx-background-color: #bf8b2c;
}

.text-field {
    -fx-background-radius: 15px;
    /*-fx-background-color: #003aad;*/
}

.label{
    -fx-text-fill: white;
}
