.radio-button .radio {
    -fx-border-width: 3px;
    -fx-border-color: #003aad;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button:selected .radio .dot {
    -fx-background-color: #003aad;
    -fx-background-insets: 0;
}

.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    /*-fx-background-color: #003aad;*/
}