@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("Roboto-Bold.ttf");
}

.root{
    -fx-text-fill: -onBackground;
    -fx-font-family: "Roboto Medium";
    -fx-background-color: -background;
}

/* ----------- LABEL -------------- */
.label{
    -fx-text-fill: -onBackground;
}

.headline-1{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 60px;
}
.headline-2{
    -fx-font-family: "Roboto";
    -fx-font-size: 34px;
}
.headline-3{
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20px;
}
.subtitle{
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14px;
}
.caption{
    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
}


/*Base colors end------------------------*/

/* ----------- TIME PICKER -------------- */
.jfx-time-picker {
    -jfx-default-color: -primary;
}


/* ----------- DATE PICKER -------------- */
.jfx-date-picker {
    -jfx-default-color: -primary;
}

/* ----------- COMBO BOX -------------- */
.jfx-combo-box {
    -jfx-focus-color: -primary;
    -jfx-unfocus-color: -onBackground;
    -fx-prompt-text-fill: -onBackgroundAlt;
    -fx-text-fill: -onBackgroundAlt;
}

/* ------------- TEXT FEILD  -----------*/
.jfx-text-field{
    -fx-pref-height: 30;
}

.input-area{
    -fx-background-color: -backgroundAlt;
}
.text-area{
    -fx-background-color: -backgroundAlt;
}
/* ----------- TEXT AREA -------------- */
.jfx-text-area {
  /*  -fx-background-color: -backgroundAlt; */
    -fx-background-color: -backgroundAlt;
}

/* ----------- PASSWORD FIELD -------------- */
.jfx-password-field {
    -fx-pref-height: 30;
}

/* ----------- TEXT FIELD ------------ TEXT AREA -------- PASSWORD FIELD -------------- */
.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -jfx-focus-color: -primary;
    -jfx-unfocus-color: -onBackground;
    -fx-text-fill: -onBackground;
    -fx-prompt-text-fill: -onBackgroundAlt;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-text-fill: #D34336;
    -fx-font-size: 1em;
}

.error-label{
    -fx-text-fill: #D34336;
}

/*** Table stuff ****/
.jfx-tree-table-view{
    -fx-background-color: -backgroundAlt;
}

.jfx-tree-table .list-cell:even {
    -fx-background-color: -requestResolvedColor;
}

.jfx-tree-view{
    -fx-background-color: -background;
    -fx-text-fill: -onBackground;
}

.jfx-tree-view .tree-cell{
    -fx-background-color: -background;
    -fx-text-fill: -onBackground;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: -backgroundAlt
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: -onBackground;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: -onBackground;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, -backgroundAlt;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, -background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: lightPink;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler{
    -fx-background-color: -background;
}



.combo-box > .list-cell {
    -jfx-focus-color: -backgroundAlt;
    -jfx-unfocus-color: -backgroundAlt;
    -fx-background: -backgroundAlt;
    -fx-background-color: -backgroundAlt;
    -fx-text-fill: -onBackground;
}

/* ----------- CHECK-BOX -------------- */
.jfx-check-box {
    -jfx-checked-color: -primary;
    -jfx-unchecked-color: -onBackgroundAlt;
    -fx-text-fill:-onBackground;
}

/* ----------- RADIO-BUTTON -------------- */
.jfx-radio-button {
    -jfx-selected-color: -primary;
    -jfx-unselected-color: -onBackgroundAlt;
    -fx-text-fill: -onBackground;
}

/* ----------- TOGGLE-BUTTON -------------- */
.jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
    /*-jfx-toggle-color: -primary;*/
    -jfx-size: 10;
    -fx-text-fill: -onBackground;
}
/* ----------- TOGGLE-NODE -------------- */
.jfx-toggle-node{
    -fx-min-width: 56px;
    -fx-min-height: 56px;
    -fx-pref-width: 56px;
    -fx-pref-height: 56px;
    -fx-max-width: 56px;
    -fx-max-height: 56px;
    -fx-background-color: -background;
    -fx-text-fill: -onBackground;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -jfx-rippler-fill: -primary;
    -jfx-toggle-color: -primary;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-color: derive(-onBackground, 99%);
}
.jfx-toggle-node:selected{
    -fx-text-fill: -onPrimary;
}
.jfx-toggle-node:selected > SVGPath{
    -fx-fill: -onPrimary;
}
.jfx-toggle-node > SVGPath{
    -fx-fill: -onBackground;
}

.jfx-toggle-node .jfx-rippler{
    -jfx-rippler-fill: -primary;
}

/* ----------- SLIDER -------------- */
.jfx-slider {
    -jfx-default-thumb: -primary;
}

.jfx-progress-bar > .bar {
    -fx-background-color: -primary;
}

/* ----------- BUTTON -------------- */
.button-contained{
    -fx-background-color: -primary;
    -fx-text-fill: -onPrimary;
    -fx-padding: 0px 16px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}
.button-outlined{
    -fx-border-color: -primary;
    -fx-border-radius: 3px;
    -fx-text-fill: -primary;
    -fx-padding: 0px 16px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}
.button-text{
    -fx-text-fill: -primary;
    -fx-padding: 0px 8px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}
.secondary-button-outlined{
    -fx-border-color: -secondary;
    -fx-border-radius: 3px;
    -fx-text-fill: -secondary;
    -fx-padding: 0px 16px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}
.secondary-button-text{
    -fx-text-fill: -secondary;
    -fx-padding: 0px 8px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}

/* ----------- FLOATING ACTION BUTTON -------------- */
.fab-default{
    -fx-background-color: -secondary;
    -fx-text-fill: -onSecondary;
    -fx-min-width: 56px;
    -fx-min-height: 56px;
    -fx-pref-width: 56px;
    -fx-pref-height: 56px;
    -fx-max-width: 56px;
    -fx-max-height: 56px;
    -fx-background-radius: 28px;
    -fx-padding: 20px;
}

.fab-default .jfx-rippler{
    -jfx-rippler-fill: -onSecondary;
}

.fab-mini{
    -fx-background-color: -primary;
    -fx-text-fill: -onPrimary;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-radius: 20px;
}

.fab-mini .jfx-rippler{
    -jfx-rippler-fill: -onSecondary;
}

/* ----------- TAB PANE -------------- */
.jfx-tab-pane .headers-region {
    -fx-background-color: -backgroundAlt;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: -backgroundAlt;
}
.jfx-tab-pane .tab-selected-line{
    -fx-background-color: -primary;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: -onPrimary;
}
.jfx-tab-pane .headers-region > .tab-selected-line{
    -fx-pref-width: 1px !important;
    -fx-pref-height: 5px;
}

.tab-pane {
    -fx-tab-min-width:120px;
    -fx-tab-max-width:120px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
}


.scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.scroll-pane{
    -fx-background-color: -background;
}

/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .scroll-bar:horizontal .increment-button,
.mylistview .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */

.mylistview .scroll-bar:vertical .increment-button,
.mylistview .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.mylistview .scroll-bar .increment-arrow,
.mylistview .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.mylistview2{
    -fx-background-color: blue;
}

.mylistview2 {
    -fx-background-color: #232323;
}

.mylistview2 .list-cell:hover {
    -fx-background-color: #434343;
}

.mylistview2 .list-cell:selected {
    -fx-background-color: white;
}

.mylistview2 .list-cell {
    -fx-background-color: #232323;
    -fx-text-fill: white;
}

.mylistview2 .label {
    -fx-text-fill: white;
}

.jfx-list-view .list-cell:even {
    -fx-background-color: -background;
    -fx-text-fill: -onBackground;
}
.jfx-list-view .list-cell:odd {
    -fx-background-color: -backgroundAlt;
    -fx-text-fill: -onBackground;
}

.jfx-list-view {
    -fx-background-color: -backgroundAlt;
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 0;
    -jfx-expanded: true;
    -fx-pref-width: 200;
}

.jfx-list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.jfx-list-view .scroll-bar:horizontal .track,
.jfx-list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.jfx-list-view .scroll-bar:horizontal .increment-button,
.jfx-list-view.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */

.jfx-list-view .scroll-bar:vertical .increment-button,
.jfx-list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.jfx-list-view .scroll-bar .increment-arrow,
.jfx-list-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.jfx-list-view .scroll-bar:horizontal .thumb,
.jfx-list-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

/* ----------- BASIC COLORS (SVGS) -------------- */
.on-background{
    -fx-fill: -onBackground;
}

.on-primary{
    -fx-fill: -onPrimary;
}
.on-secondary{
    -fx-fill: -onSecondary;
}

.left-nav-icons{
    -fx-fill: -onBackground;
    -fx-text-fill: -onBackground;
}

.white-text{
    -fx-text-fill: -onPrimary;
}

.top-bar-button .jfx-rippler{
    -jfx-rippler-fill: white;
}
.top-bar-button{
    -fx-background-radius: 30px;
    -fx-min-height: 60px;
    -fx-min-width: 60px;
    -fx-pref-height: 60px;
    -fx-pref-width: 60px;
    -fx-max-height: 60px;
    -fx-max-width: 60px;
}

.top-icons{
    -fx-fill: -onPrimary;
}

.dialogue{
    -fx-background-color: -backgroundAlt;
}

.bigButton{
    -fx-background-color: -primary;
    -fx-text-fill: -onPrimary;
    -fx-font-size: 17;
}

.bigButtonOutline{
    -fx-background-color: -background;
    -fx-text-fill: -primary;
    -fx-font-size: 17;
}

.bigButtonOutline > .jfx-rippler{
    -jfx-rippler-fill: -primary;
}

.settingBlockContainer {
    -fx-background-color: -backgroundAlt;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
  
.selectTypeButton{
    -fx-background-color: -background;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 3px;
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-max-height: 40px;
    -fx-max-width: 40px;
    -fx-border-color: -primary;
}

.selectTypeButton > SVGPath{
    -fx-fill: -primary;
}

.selectTypeButton:selected{
    -fx-background-color: -primary;
}

.selectTypeButton:selected > SVGPath{
    -fx-fill: -onPrimary;
}

.selectTypeButton > .jfx-rippler{
    -jfx-rippler-fill: white;
}


/* ----------- SECCONDARY COLORS -------------- */

.secondary-color{
    -fx-background-color: -secondary;
    -fx-text-fill: -onSecondary;
}

.button-contained-floatingPathPanel{
    -fx-background-color: -primary;
    -fx-text-fill: -onPrimary;
    -fx-padding: 0px 16px;
    /*-fx-pref-height: 36px;*/
}
