/*Base colors here------------------------*/

.root{
    -primary: #bb86fc;
    -primaryVariant: #8d52d9;
    -secondary: #03DAC6;
    -secondaryVairant: #03DAC6;
    -background: #121212;
    -backgroundAlt: #1d1d1d;
    -requestResolvedColor: #676767;
    -surface: #121212;
    -error: #CF6679;
    -onPrimary: #000000;
    -onSecondary: #000000;
    -onBackground: #FFFFFF;
    -onBackgroundAlt: #a5a5a5;
    -onSurface: #FFFFFF;
    -onError: #000000;
}

