@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("Roboto-Bold.ttf");
}
/*Base colors here------------------------*/

.root{
    -primary: #6200EE;
    -primaryVariant: #3700B3;
    -secondary: #03DAC6;
    -secondaryVairant: #018786;
    -background: #FFFFFF;
    -surface: #FFFFFF;
    -error: #B00020;
    -onPrimary: #FFFFFF;
    -onSecondary: #000000;
    -onBackground: #646464;
    -onSurface: #000000;
    -onError: #FFFFFFF;
    -fx-text-fill: -onBackground;
    -fx-font-family: "Roboto Medium";
}

/* ----------- LABEL -------------- */
.label{
    -fx-text-fill: -onBackground;
}

.headline-1{
    -fx-font-weight: light;
    -fx-font-size: 60px;
}
.headline-2{
    -fx-font-weight: normal;
    -fx-font-size: 34px;
}
.headline-3{
    -fx-font-weight: medium;
    -fx-font-size: 20px;
}
.subtitle{
    -fx-font-weight: medium;
    -fx-font-size: 14px;
}
.caption{
    -fx-font-weight: normal;
    -fx-font-size: 12px;
}


/*Base colors end------------------------*/

/* ----------- TIME PICKER -------------- */
.jfx-time-picker {
    -jfx-default-color: -primary;
}


/* ----------- DATE PICKER -------------- */
.jfx-date-picker {
    -jfx-default-color: -primary;
}

/* ----------- COMBO BOX -------------- */
.jfx-combo-box {
    -jfx-focus-color: -primary;
    -jfx-unfocus-color: -onBackground;
}

/* ----------- TEXT FIELD -------------- */
.jfx-text-field {
    -jfx-focus-color: -primary;
    -jfx-unfocus-color: -onBackground;
    -fx-pref-height: 30;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-text-fill: #D34336;
    -fx-font-size: 1em;
}

/* ----------- TEXT AREA -------------- */
.jfx-text-area {
    -jfx-focus-color: -primary;
    -jfx-unfocus-color: -onBackground;
}

/* ----------- PASSWORD FIELD -------------- */
.jfx-password-field {
    -jfx-focus-color: -primary;
    -jfx-unfocus-color: -onBackground;
    -fx-pref-height: 30;
}


/* ----------- CHECK-BOX -------------- */
.jfx-check-box {
    -jfx-checked-color: -primary;
}

/* ----------- RADIO-BUTTON -------------- */
.jfx-radio-button {
    -jfx-selected-color: -primary;
}

/* ----------- TOGGLE-NODE -------------- */
.jfx-toggle-button,
.jfx-toggle-button:armed,
.jfx-toggle-button:hover,
.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:focused:selected {
    -jfx-toggle-color: -primary;
    -jfx-size: 10;
}
/* ----------- TOGGLE-NODE -------------- */
.jfx-toggle-node{
    -fx-min-width: 56px;
    -fx-min-height: 56px;
    -fx-pref-width: 56px;
    -fx-pref-height: 56px;
    -fx-max-width: 56px;
    -fx-max-height: 56px;
    -fx-background-color: -background;
    -fx-text-fill: -onBackground;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -jfx-rippler-fill: -primary;
    -jfx-toggle-color: derive(-primary, 100%);
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-color: derive(-onBackground, 99%);
}
/* ----------- TOGGLE-NODE -------------- */
.floor-toggle{
    -fx-min-width: 70px;
    -fx-min-height: 70px;
    -fx-pref-width: 70px;
    -fx-pref-height: 70px;
    -fx-max-width: 70px;
    -fx-max-height: 70px;
    -fx-background-color: -background;
    -fx-text-fill: -onBackground;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -jfx-rippler-fill: -primary;
    -jfx-toggle-color: derive(-primary, 100%);
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-color: derive(-onBackground, 99%);
}

.jfx-toggle-node .jfx-rippler{
    -jfx-rippler-fill: -primary;
}
/* ----------- SLIDER -------------- */
.jfx-slider {
    -jfx-default-thumb: -primary;
}

/* ----------- BUTTON -------------- */
.button-contained{
    -fx-background-color: -primary;
    -fx-text-fill: -onPrimary;
    -fx-padding: 0px 16px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}
.button-outlined{
    -fx-border-color: -primary;
    -fx-border-radius: 3px;
    -fx-text-fill: -primary;
    -fx-padding: 0px 16px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}
.button-text{
    -fx-text-fill: -primary;
    -fx-padding: 0px 8px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}
.secondary-button-outlined{
    -fx-border-color: -secondary;
    -fx-border-radius: 3px;
    -fx-text-fill: -secondary;
    -fx-padding: 0px 16px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}
.secondary-button-text{
    -fx-text-fill: -secondary;
    -fx-padding: 0px 8px;
    -fx-pref-height: 36px;
    -fx-min-width: 64px;
}

/* ----------- FLOATING ACTION BUTTON -------------- */
.fab-default{
    -fx-background-color: -secondary;
    -fx-text-fill: -onSecondary;
    -fx-min-width: 56px;
    -fx-min-height: 56px;
    -fx-pref-width: 56px;
    -fx-pref-height: 56px;
    -fx-max-width: 56px;
    -fx-max-height: 56px;
    -fx-background-radius: 28px;
    -fx-padding: 20px;
}

.fab-mini{
    -fx-background-color: -primary;
    -fx-text-fill: -onPrimary;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-background-radius: 20px;
}

/* ----------- TAB PANE -------------- */
.jfx-tab-pane .headers-region {
    -fx-background-color: -background;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: -background;
}
.jfx-tab-pane .tab-selected-line{
    -fx-background-color: -primary;
}
.jfx-tab-pane .tab-selected-line{
    -fx-background-color: -primary;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: -primary;
}
.jfx-tab-pane .headers-region > .tab-selected-line{
    -fx-pref-width: 1px !important;
    -fx-pref-height: 3px;
}

.tab-pane {
    -fx-tab-min-width:120px;
    -fx-tab-max-width:120px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
}

/* ----------- BASIC COLORS (SVGS) -------------- */
.on-background{
    -fx-fill: -onBackground;
}

.on-primary{
    -fx-fill: -onPrimary;
}
.on-secondary{
    -fx-fill: -onSecondary;
}

/* ----------- SECCONDARY COLORS -------------- */

.secondary-color{
    -fx-background-color: -secondary;
    -fx-text-fill: -onSecondary;
}