/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');*/
/*@font-face {*/
/*    -fx-font-family: 'Rubik Regular';*/
/*    src: url('Rubik-Regular.ttf');*/
/*}*/
/*@font-face {*/
/*    -fx-font-family: 'Rubik Bold';*/
/*    src: url('Rubik-Bold.ttf');*/
/*}*/
/*@font-face {*/
/*    -fx-font-family: 'Rubik Medium';*/
/*    src: url('Rubik-Medium.ttf');*/
/*}*/


/*Base colors here------------------------*/

.root{
    -primary: #6200EE;
    -primaryVariant: #3700B3;
    -secondary: #03DAC6;
    -secondaryVairant: #018786;
    -background: #FFFFFF;
    -surface: #FFFFFF;
    -error: #B00020;
    -onPrimary: #FFFFFF;
    -onSecondary: #000000;
    -onBackground: #000000;
    -onSurface: #000000;
    -onError: #FFFFFFF;
}

/*Base colors here------------------------*/


.jfx-tab-pane .headers-region {
    -fx-background-color: -background;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: -background;
}
.jfx-tab-pane .tab-selected-line{
    -fx-stroke : RED;
}

.tab-pane {
    -fx-tab-min-width:120px;
    -fx-tab-max-width:120px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
}
