/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');*/
@font-face {
    -fx-font-family: 'Rubik';
    src: url('Rubik-Regular.ttf');
    /*-fx-font-weight: bold;*/
}
/*Base colors here------------------------*/

/*Base colors here------------------------*/



.root{
    -fx-font-family: 'Rubik';
}

.background {
    -fx-background-color: #cbcbcb;
    -fx-font-family: 'Rubik', sans-serif;
}

/*.label {*/
/*    -fx-font-size: 11pt;*/
/*    -fx-text-fill: black;*/
/*}*/

.label-sub-header {
    -fx-font-size: 18pt;
    -fx-text-fill: Black;
}

.label-header {
    -fx-font-size: 36pt;
    -fx-text-fill: Black;
}

.label-Other {
    -fx-font-size: 10pt;
    -fx-font-family: 'Rubik Regular', sans-serif;
    -fx-text-fill: Grey;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-color: white;
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-color: white;
}

.scroll-pane {
    -fx-arrows-visible: Never;
    -fx-hbar-policy: Never;
    -fx-vbar-policy: Never;
}

.split-pane {
    -fx-padding: 0 0 0 0;
}

/*.text-field {*/
/*    -fx-font-size: 12pt;*/
/*    -fx-font-family: "Rubik";*/
/*}*/


/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */

.button-green {
    -fx-font-size: 14pt;
    -fx-font-family: 'Rubik Regular', sans-serif;
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
    -fx-background-color: #33ab2e;
    -fx-background-radius: 3;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button-yellow {
    -fx-font-size: 14pt;
    -fx-font-family: 'Rubik Regular', sans-serif;
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
    -fx-background-color: #f6c037;
    -fx-background-radius: 3;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button-blue {
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 3;
    -fx-background-color: #2e5bfe;
    -fx-font-family: Arial;
    -fx-font-size: 14pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button-lightBlue {
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 3;
    -fx-background-color: #d4ddfe;
    -fx-font-family: Arial;
    -fx-font-size: 14pt;
    -fx-text-fill: #2e5bfe;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button-lightYellow {
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 3;
    -fx-background-color: #fbefcb;
    -fx-font-family: Arial;
    -fx-font-size: 14pt;
    -fx-text-fill: #f6c037;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


.button-regular {
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 2;
    -fx-background-color: #2e5bfe;
    -fx-font-family: Arial;
    -fx-font-size: 11pt;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}


.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.map-btn{
    -fx-background-color: #FFFFFF;
}


.nav-item:selected{
    -fx-background-color: #E9EEFF;

}


.nav-item > {

}

.jfx-toggle-node{
    -jfx-toggle-color: #E9EEFF;

    -jfx-disable-animation: True;
}

.jfx-rippler{
    -jfx-rippler-fill: #b7bfd2;
}