/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');*/
@font-face {
    -fx-font-family: 'Rubik Regular';
    src: url('Rubik-Regular.ttf');
}
@font-face {
    -fx-font-family: 'Rubik Bold';
    src: url('Rubik-Bold.ttf');
}
@font-face {
    -fx-font-family: 'Rubik Medium';
    src: url('Rubik-Medium.ttf');
}
/*Base colors here------------------------*/

/*Base colors here------------------------*/



.root{
    -blue: #2e5bff;
    -yellow: #f7c137;
    -green: #33ac2e;
    -red: #d63649;
    -lightBlue: #d4ddfe;
    -lightYellow: #fbefcb;
    -blueTint: #f9faff;
    -grey: #B0bac9;
    -fx-font-family: 'Rubik';
    -fx-background-color: #ffffff;
}

.nav-item > *{
    -fx-font-family: 'Rubik';
}

.background {
    -fx-background-color: #cbcbcb;
    -fx-font-family: 'Rubik';
}

/*.label {*/
/*    -fx-font-size: 11pt;*/
/*    -fx-text-fill: black;*/
/*}*/

.label{
    -fx-font-size: 13pt;
}

.label-header {
    -fx-font-size: 25pt;
    -fx-font-family: 'Rubik Bold';
}

.label-sub-header {
    -fx-font-size: 15pt;
    -fx-font-family: 'Rubik Bold';
}

.label-feild-tile{
    -fx-font-size: 12pt;
    -fx-font-family: 'Rubik Medium';
    -fx-text-fill: -grey;
}


.text-field{
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-border-radius: 5;
    -fx-border-style: solid;

    -fx-border-color: -lightBlue;
    -fx-text-fill: -blue;
    -fx-font-size: 15;
    -fx-prompt-text-fill: -grey;
    -fx-background-color: -blueTint;
}

.button{
    -fx-font-family: 'Rubik Medium';
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font-size: 13pt;
    -fx-text-fill: white;

    -fx-padding: 7 30;
    -fx-background-radius: 5;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button-green {
    -fx-background-color: -green;
}
.button-yellow {
    -fx-background-color: -yellow;
}
.button-blue {
    -fx-background-color: -blue;
}
.button-red{
    -fx-background-color: -red;
}
.button-lightBlue {
    -fx-background-color: -lightBlue;
    -fx-text-fill: -blue;
}
.button-lightYellow {
    -fx-background-color: -lightYellow;
    -fx-text-fill: -yellow;
}

.button:pressed{
    -fx-opacity: 0.5;
}

.attached-left {
    -fx-background-radius: 5 0 0 5;
    -fx-border-radius: 5 0 0 5;
}

.attached-right{
    -fx-background-radius: 0 5 5 0;
    -fx-border-radius: 0 5 5 0;
}


/*I don't know what split pane does*/

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-color: white;
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color: white;
    -fx-border-width: 0;
    -fx-background-color: white;
}

.scroll-pane {
    -fx-arrows-visible: Never;
    -fx-hbar-policy: Never;
    -fx-vbar-policy: Never;
}

.split-pane {
    -fx-padding: 0 0 0 0;
}



/*Left Nav Stuff*/

.nav-item:selected{
    -fx-background-color: #E9EEFF;

}


.nav-item > {

}

.jfx-toggle-node{
    -jfx-toggle-color: #E9EEFF;

    -jfx-disable-animation: True;
}

.jfx-rippler{
    -jfx-rippler-fill: #b7bfd2;
}