/*Base colors here------------------------*/

.root{
    -primary: #6200ee;
    -primaryVariant: #3700b3;
    -secondary: #03DAC6;
    -secondaryVairant: #018786;
    -background: #FFFFFF;
    -backgroundAlt: #f3f3f3;
    -surface: #FFFFFF;
    -error: #B00020;
    -onPrimary: #FFFFFF;
    -onSecondary: #000000;
    -onBackground: #323232;
    -onBackgroundAlt: #919191;
    -onSurface: #000000;
    -onError: #FFFFFF;
}