/*Base colors here------------------------*/

.root{
    -primary: #eed600;
    -primaryVariant: #beac0f;
    -secondary: #da6703;
    -secondaryVairant: #be4b19;
    -background: #FFFFFF;
    -backgroundAlt: #f3f3f3;
    -surface: #FFFFFF;
    -error: #B00020;
    -onPrimary: #FFFFFF;
    -onSecondary: #000000;
    -onBackground: #323232;
    -onBackgroundAlt: #919191;
    -onSurface: #000000;
    -onError: #FFFFFF;
}