/*Base colors here------------------------*/

.root{
    -primary: #eec33d;
    -primaryVariant: #e5ac3f;
    -secondary: #da6703;
    -secondaryVairant: #be4b19;
    -background: #FFFFFF;
    -backgroundAlt: #f3f3f3;
    -requestResolvedColor: #d7d7d7;
    -requestResolvedColorReal: #d7d7d7;
    -surface: #FFFFFF;
    -error: #B00020;
    -onPrimary: #000000;
    -onSecondary: #000000;
    -onBackground: #323232;
    -onBackgroundAlt: #919191;
    -onSurface: #000000;
    -onError: #FFFFFF;
}